@{
    ViewBag.Title = "WorkFolwStatus";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
<!-- Modal -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Status</button>
<div class="row">
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-edit"></i>WorkFolw Status Add
								</div>					
							</div>
							<div class="portlet-body">
						
								<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
									<thead>
                                         <input type="hidden" id="CompanyId" name="Eid" value="@Session["LOGGED_Company"]" />
								<tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
										 Username
									: activate to sort column ascending" style="width: 165px;">
										Document Type
									</th>
                                  
                                    <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
										 Notes
									: activate to sort column ascending" style="width: 144px;">
									Status Name
									</th>
                                  @* <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
										 Notes
									: activate to sort column ascending" style="width: 144px;">
								Display Order
									</th>
                                     <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
										 Notes
									: activate to sort column ascending" style="width: 144px;">
								Activate Doc
									</th>*@
                                     <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
										 Notes
									: activate to sort column ascending" style="width: 144px;">
								Approve Caption
									</th>
                                     <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
										 Notes
									: activate to sort column ascending" style="width: 144px;">
								Reject Caption	
									</th>
                                     <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
										 Notes
									: activate to sort column ascending" style="width: 144px;">
								Reconsider Caption	
									</th>
                                    @* <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
										 Notes
									: activate to sort column ascending" style="width: 144px;">
							 Reconsider Status
									</th>
                                     <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
										 Notes
									: activate to sort column ascending" style="width: 144px;">
							Amendment Status
									</th>
                                     <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
										 Notes
									: activate to sort column ascending" style="width: 144px;">
							
                                    Recall Status
                                   </th>
                                     <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
										 Notes
									: activate to sort column ascending" style="width: 144px;">
                                    Cancel Status
                                         </th>
                                     <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
										 Notes
									: activate to sort column ascending" style="width: 144px;">
                                   Action
                                         </th>*@
									</tr>
								</thead>
                                     		<tbody>	
                                  @{RelianceController.WorkFlowStatusControllers workFlowStatusControllers = new RelianceController.WorkFlowStatusControllers();
                                    Reliance.Modals.WorkFlowList roleModal = workFlowStatusControllers.WorkFlowStatus();
                                    for (int i = 0; i < roleModal.Count; i++)
                                 {							
								<tr role="row" class="odd">
                                
                                     <td  class="">@roleModal[i].FormName</td> 
									 <td  class="">@roleModal[i].StatusName</td> 
                                     
                                                             
									 <td class="center">@roleModal[i].ApproveCaption</td>

                                      <td class="center">@roleModal[i].RejectCaption</td>
                                    
                                      <td class="center">@roleModal[i].ReconsiderCaption</td>
                                                       	
                                    </tr>
                                }
                                 }  
                                                  		
								</tbody>
								</table>
								
							</div>
						</div>
						<!-- END EXAMPLE TABLE PORTLET-->
					</div>
				</div>
  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
     
      <div class="modal-body">
          <div class="portlet box red"  style="width:570px ; background-color:#29272d" >
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-gift"></i> Add WorkFlow
								</div>
								<div class="tools">
									<a href="" class="collapse" data-original-title="" title="">
									</a>
									<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
									</a>
									<a href="" class="reload" data-original-title="" title="">
									</a>
									<a href="" class="close" data-original-title=""  data-dismiss="modal" title="">
									</a>
								</div>
							</div>
							<div class="portlet-body form">
								<form role="form">
									<div class="form-body">
										<div class="form-group">
											<label>Document Type</label>
										<select  class="form-control" class="form-control input-lg" id="DocumentType" >
                                          <option  selected="selected" value="Select">Select</option>

                                            </select>                   
										</div>
                                        <div class="form-body">
										<div class="form-group">
											<label>Status Name</label>
											<input type="text" id="StatusName" name="StatusName" required="" class="form-control input-lg" placeholder="Please Insert Role Description">
										</div>
                                            <div class="form-group">
											<label>Display order</label>
											<input type="text" id="Displayorder" name="Displayorder" required="" class="form-control input-lg" placeholder="Please Insert Role Description">
										</div>
                                             <div class="form-group">
											<label>Approve Caption</label>
											<input type="text" id="ApproveCaption" name="ApproveCaption" required="" class="form-control input-lg" placeholder="Please Insert Role Description">
										</div>
                                               <div class="form-group">
											<label>Reject Caption</label>
											<input type="text" id="RejectCaption" name="RejectCaption" required="" class="form-control input-lg" placeholder="Please Insert Role Description">
										</div>
                                               <div class="form-group">
											<label>ReconsiderCaption</label>
											<input type="text" id="ReconsiderCaption" name="ReconsiderCaption" required="" class="form-control input-lg" placeholder="Please Insert Role Description">
										</div>      
									</div>
									<div class="form-actions right">		
                                         <button type="submit" id="AddWorkFolwStatus" name="AddWorkFolwStatus" class="btn btn-primary">Submit</button>
                                          <button type="reset" class="btn btn-default">Reset</button>
									</div>
								</form>
							</div>
						</div>
      </div>
    </div>
  </div>


<!--Modal-->
      </div>

<script src="~/Scripts/jquery-1.7.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var CompanyId = document.getElementById("CompanyId").value;
        $.ajax
            ({
               type: "POST",
               url: "/Dynamic/AllFormList/?CompanyId=" + CompanyId,
               datatype: "JSON",
               success: function (data) {
                   var item = '<option value="0">Select</option>'
                   for (var j = 0; j < data.Response.length; j++)
                   {
                       var formName = data.Response[j].FormName;
                       item += "<option value='" + data.Response[j].Id + "'>" + data.Response[j].FormName + "</option>";
                   };
                   $("#DocumentType").html(item);
                },
            });
    });
    </script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#AddWorkFolwStatus").click(function () {
            var WorkFlowValues = {
                DocumentType: document.getElementById("DocumentType").options[document.getElementById('DocumentType').selectedIndex].value,
                StatusName: document.getElementById("StatusName").value,
                Displayorder: document.getElementById("Displayorder").value,
                ApproveCaption: document.getElementById("ApproveCaption").value,
                RejectCaption: document.getElementById("RejectCaption").value,
                ReconsiderCaption: document.getElementById("ReconsiderCaption").value,
            };     
            var jsonworkFlowStatus = JSON.stringify({ 'workFlowStatusDo': WorkFlowValues });
            alert(jsonworkFlowStatus);
            $.ajax({
                url: "/WorkFlowStatus/AddWorkFlowStatuss", 
                type:"POST",
                data: jsonworkFlowStatus,
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                traditional: true,
                success: function (data)
                {
                     alert("Data is Insert SuccessFully")
                },
            });
        });
    });
</script>